@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;
  --backgroundPrimary: #0d263b;
  --padding: 0 131px;
}

.jOcEhK {
  margin: 0 auto !important;
}
input {
  border-radius: 2px;
  width: 200px;
  height: 44px;
  outline: none;
  color: black;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #e6e9ec;
  padding: 0 44px;
}
.dLRzBo {
  height: 100% !important;
}
